[2010-11-15 14:35] slbug opened #1 "bundle failed"
I'm trying to use this gem
    gem 'i18n-active_record',    :git => 'git://github.com/svenfuchs/i18n-active_record.git', :require => 'i18n/active_record'

and bundle failes to install it.

<pre>
There was a LoadError while evaluating i18n-active_record.gemspec:
  cannot load such file -- i18n_active_record/version from
  /Users/user/.rvm/gems/ruby-head/bundler/gems/i18n-active_record-0482a489a1f6/

[2010-11-15 15:21] #1 closed, assigned to nobody

[2010-11-26 06:26] slbug opened #4 "serialize problems"
i'm using i18n-active_record backend with rails master. in i18n initializer i have following code:
<pre>
I18n::Backend::ActiveRecord.send(:include, I18n::Backend::Flatten)
I18n::Backend::ActiveRecord.send(:include, I18n::Backend::Memoize)
I18n::Backend::Simple.send(:include, I18n::Backend::Memoize)
I18n::Backend::Simple.send(:include, I18n::Backend::Pluralization)
I18n::Backend::Chain.send(:includ

[2010-12-04 21:23] slbug opened #7 "I18n is not missing constant RESERVED_KEYS!"
i'm using i18n-active_record backend with rails master. in i18n initializer i have following code:
<pre>
I18n::Backend::ActiveRecord.send(:include, I18n::Backend::Flatten)
I18n::Backend::ActiveRecord.send(:include, I18n::Backend::Memoize)
I18n::Backend::Simple.send(:include, I18n::Backend::Memoize)
I18n::Backend::Simple.send(:include, I18n::Backend::Pluralization)
I18n::Backend::Chain.send(:includ

[2011-04-14 23:29] mrbrdo opened #9 "Hooks in Translation model don't work?"
I tried setting up a before_save hook, but it's not triggering... Is there a way to make this model behave more like a real model? Because for now, I am also not using e.g. Translation.all, but I18n::Backend::ActiveRecord::Translation.all. It does NOT seem to be the same thing  (returns different class types).
It would be nice to see some examples on proper usage as well.

[2011-05-16 21:09] jeromelefeuvre opened #10 "Serialize value field and accent"
Hey svenfuchs,

got a problem with value which is serialize. In fact, when I import my yml files with store_translations, all my values where accents are present are transformed by unicode.

exemple :
"--- "Tentative de g\xC3\xA9olocalisation..."\n"

should be:
"--- "Tentative de géolocalisation..."\n"

is it a wrong yml file configuration or something else ?

thanks for your answer and see you at

[2011-08-18 00:02] developwithvelocity opened #13 "old translations reappearing"
Hi,

We use store_translations to store a new translation and then later use I18n.t to retrieve the translation. This works pretty well, but sometimes a previously stored translation will mysteriously re-appear on our web site after a few page refreshes.  We've checked the database and it has the correct value.  We've also cleared the browser cache, and and that doesn't help.

Has any one else see

[2011-09-05 12:28] #10 closed, assigned to nobody

[2011-09-27 15:53] activestylus opened #17 "I18n is not missing constant ActiveRecord!"
Such a strange error whenever I try to load my Rails env

The stack trace does not provide much help either: http://pastie.textmate.org/2600529

Those exact same errors  occur when I try to run:
- rake db:*
- rails server
- rails console

Any ideas?

[2011-10-12 14:37] nunziofiore opened #18 "is_proc question"
Hi,
thank you for your great gem. Could you help me in two dummies question?

1)  i don't understand what does it mean the is_proc field.... could you help me?

 2) how can i set a cache for this kind of i18n retrieving data from db?

[2011-10-12 14:48] #18 closed, assigned to nobody

[2011-12-01 07:13] matthewrudy opened #21 "Gem release for Rails 3.1 compatibility"
It seems the problem has been fixed;
* b3bb11e152c5bb54a4f836ba598b1562f38b35ba
* 68de9c3e6b16520c670f46c58b164a2ed1e0900b

But is it possible to get a 0.0.3 gem release with these fixes?
Would be much appreciated.

Thanks for your help.

[2012-01-23 18:53] nashbridges opened #22 "throw/catch in the ActiveRecord::Missing"
Please consider merging this commit d3aca96b6a0ab52d1af9af14c1eff7326e6cbbef

[2012-02-22 02:04] djiang opened #25 "Storing Procs"
Just wanted to confirm, because parse_tree is not supported by ruby 1.9.x, the Store Procs feature will not work as well?

[2012-03-28 21:51] jfirebaugh opened #28 "Can't run tests"
I'd like to contribute, but I can't figure out how to run the tests.
- There's no top-level Gemfile
- "rake test" produces:

[code]
- If I fix that, then I get:

[code]
- If I fix that, then I get:

[code]

[2012-03-31 20:57] #17 closed, assigned to nobody

[2012-03-31 22:46] #22 closed, assigned to nobody

[2012-04-01 14:33] #28 closed, assigned to nobody

[2012-10-17 13:38] wdiechmann opened #34 "Added to attributes on the translation"
Hi Sven Fuchs,

thank you very much for sharing!

I've forked the I18n-active_record gem and added ox_id and state to the translation in order to

- publish only translation ready for 'production'
- translate only keys belongs_to some superstructure (oxen in my scenario)

The ox_id will allow me to hold a number of translations specific to individual use cases, in _one table_ like

- use case #1 w

[2013-03-18 22:56] spemmons opened #37 "struggling with mysql case sensitivity"
i'm trying to use this backend to capture as-is english translations to support a GUI allowing translators to come in later and provide equivalent text for other languages. as a result, i need to have keys that are case sensitive so that "This Key" and "this key" are 2 separate keys...

i'm using mysql and case sensitive collation is just not available currently, but i can decorate the where claus

[2013-11-01 03:40] bf4 opened #41 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-11-01 14:08] #41 closed, assigned to nobody

[2013-12-18 11:04] Chipairon opened #48 "How to make tests suite work"
Hello,

I would love to help maintain and advance the test suite, but it the lastest change is from 3 years ago and with my limited (but growing!) knowledge of ruby I have been unable to make the test suite run :(

If anyone could help me get to an stable point where any of the present tests can be run, then I will try to update some and help maintain them.

[2014-01-26 11:29] mjurin opened #49 "PG::Error: ERROR: relation "translations" does not exist"
Hello,

I have installed this gem on rails 4 and I kind of get into a loop.

If I run bundle install the gem gets installed, but when I try to run rake db:migrate I get the error from the title.

If I try to run rake db:migrate first, it says that my gem file is not up to date.

Is this a common problem or am I doing something wrong?

[2014-01-26 11:41] #49 closed, assigned to nobody

[2014-02-21 15:02] gabrielengel opened #51 "Present unique available locales"
1.9.3p448 :001 > I18n.available_locales
  I18n::Backend::ActiveRecord::Translation Load (117.4ms)  SELECT DISTINCT "translations".* FROM "translations"
 => [:en]

1.9.3p448 :002 > I18n::Backend::ActiveRecord::Translation.available_locales
  I18n::Backend::ActiveRecord::Translation Load (10.6ms)  SELECT DISTINCT "translations".* FROM "translations"
 => [:en, :en, :en, :en, :en, :en, :en, :en, :en,

[2014-08-29 04:02] pctj101 opened #56 "active_record/missing no longer functions"
https://github.com/svenfuchs/i18n-active_record/blob/master/lib/i18n/backend/active_record/missing.rb#L57

It looks like I18n no longer raises the Exception MissingTranslationData, and instead throws an exception which is caught by I18n::ExceptionHandler which does not rethrow MissingTranslation and instead returns "translation missing: key_name".
https://github.com/svenfuchs/i18n/blob/master/lib/

[2014-09-02 14:44] joerghaubrichs opened #57 "Backend chain not working for complex keys?"
Hi,

we have a problem using the i18n backend together with a standard yml file. We use a backend chain to use the yml file first (for performance), then the db backend. This works fine for most 'normal' keys, but fails in many Rails helper functions, for example number helpers. In those cases the gem looks up the key in the db.

This is our config:

[code]

Let's say we look up some word defined

[2014-09-15 11:44] #57 closed, assigned to nobody

[2014-09-18 21:51] demental opened #58 "Rails4 compatible release"
Hi Sven !
Master branch is used by OneSky for translations database backend, so I added this repo as a dependency for my project. Just let me know when/wether you plan to tag the current state, which seems rails 4 compatible.

[2015-01-19 21:04] paulgoetze commented on #58
This very handy gem works for me too on Rails 4.2. Nice work @svenfuchs! I was just wondering whether there is a reason for not publishing the latest changes as a new gem release. I would love to see that! At least for production apps  it seems not to be the best idea to depend on a github branch that is likely to change.

[2015-02-20 11:35] icatcher-at commented on #58
:+1:

[2015-03-02 17:36] sajoku opened #59 "Rails app crashes when a null locale is present"
Today I was investigating a startup failure in a Rails app with the following error:

[code]

After some investigation the error led me (and my pair buddy) to the translations table in the database and check all the translations. The last two entries had NULL as :locale. Removing this fixed the startup issue.

I'm not sure if my "fix" is desirable but wanna check this out and let me know what you

[2015-03-03 09:16] sajoku commented on #59
@CDingerdis This is the issue we ran in to. Wanna check out the proposed solution?

[2015-03-15 13:45] volontarian opened #60 "Refactoring: renaming of column Translation#key because it's a reserved word for MySQL"
The key column of Translation model should be renamend because key is a reserved word for MySQL or how do you get queries with key column as criteria working? I'm using MySQL 5.6.14.
See also http://dev.mysql.com/doc/refman/5.7/en/reserved-words.html

E.g. "SELECT DISTINCT(key) FROM translations;" throws:

    You have an error in your SQL syntax; check the manual that corresponds to your MySQL se

[2015-04-30 13:38] k3rni commented on #60
http://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/Quoting.html#method-i-quote_column_name

That is, if you have to build queries like `where("key LIKE ?", stuff)`, you should replace them with something like:

[code]

and the database adapter will mangle the column accordingly. MySQL is picky about "key" in particular, but the driver wraps whatever you pass in backticks; while e.g

[2015-08-13 00:48] dmiller-iseatz opened #63 "Time for a push to rubygems?"
The last version that was pushed to rubygems was 0.0.2 in 2010: `0.0.2 - December 26, 2010`

Perhaps it is time to push a new version? It seems like there have been several changes since then.

[2015-08-13 15:34] dmiller-iseatz commented on #63
I would like to use i18n-active_record in a personal gem that will be used in Rails 4 projects. However, I cannot specify i18n-active_record in the gemspec as a github based gem.

[2015-11-19 11:48] 5minpause commented on #63
Yes, there is definitely need for a new version on Rubygems.

[2016-01-28 13:57] mochtu commented on #63
+1

[2016-02-29 06:26] timsly commented on #63
I will try to push the latest stable state of the gem this week.

[2016-02-29 06:29] #7 closed

[2016-03-01 14:34] timsly commented on #56
I am not sure if this is still relevant, but this issue will be fixed in #65

[2016-03-01 14:34] #56 closed

[2016-03-01 14:35] timsly commented on #21
Probably it's not relevant anymore, but in next days i will release gem. It should also include rails 3 support

[2016-03-01 14:35] #21 closed

[2016-03-01 14:36] timsly commented on #58
I will release gem in next few days. Keep an eye on #65

[2016-03-01 14:36] #58 closed

[2016-03-01 14:37] timsly commented on #63
Once #65 will be merged - i will release gem.

[2016-03-01 14:37] #63 closed

[2016-03-01 14:38] timsly commented on #48
I make this happen. See #65

[2016-03-01 14:38] #48 closed

[2016-03-01 14:39] timsly commented on #4
Issue is quite old, so i am not sure if it is still relevant. So closing this for now.

[2016-03-01 14:39] #4 closed

[2016-03-13 01:03] sixtyfive opened #66 "How to use table of different name?"
Hi, I need to move from YAML files to a database table for storing i18n data, but already have a model "Translation" in my app which is used otherwise. Is there any way to get i18n-active_record to use a different model and database table?

[2016-03-14 07:57] timsly commented on #66
@sixtyfive there is no configuration option to change this, but you can do it by changing `table_name` directly. Try something like: `I18n::Backend::ActiveRecord::Translation.table_name = 'my_table_for_translations'` in the initializer.

Also, maybe make sense to add namespace for the table later. So by default it will be smth like `i18n_translations`. This can be done in next releases.

I am clos

[2016-03-14 07:57] #66 closed

[2016-03-14 15:41] sixtyfive commented on #66
Thank you for the speedy response @timsly! For my purposes your suggestion will be plenty good, but yeah, the idea about using a namespace sounds mighty fine as well!

[2016-03-18 09:21] zenati opened #67 "Translations don't get updated quickly"
Hello,

I'm using the gem and everything works good except that when I translate/update-translation something, it takes seconds and sometimes I need to reboot rails for the change to take effect. Is there a cache or something that makes that happen? May be related to unicorn?

Thanks

[2016-03-18 09:54] timsly opened #68 "Fix StoreProc"
Current implementation of the StoreProc doesn't support modern versions of ruby. This needs to be fixed

[2016-03-18 10:02] timsly commented on #25
Closing this in favor of #68

[2016-03-18 10:02] #25 closed

[2016-03-22 20:59] paulgoetze commented on #58
:+1:  Awesome @timsly, thank you!

[2016-03-24 15:37] zenati commented on #67
:up:

[2016-03-25 00:29] rsmithlal opened #69 "What happened to the rails-4-release branch?"
I was using it for my rails 4 app, did it get merged into master and deleted? You should create a rails 4 release tag so we can have a reliable rails 4 version not subject to the working changes in master... The rubygems version is too old to use reliably. 0.1.0 was released in 2013!

[2016-03-25 00:40] rsmithlal commented on #60
[code]
should work fine. Just use backticks to escape the field like you would do if it had invalid characters, such as

[code]

[2016-03-25 04:55] timsly commented on #69
Rails 4 compatible version(0.1) was released last week.

We don't need a tag, because this version is compatible with rails 3, 4 and
5
25 бер. 2016 р. 02:29 "Robert Smith" <notifications@github.com> пише:

[2016-03-25 05:18] #69 closed

[2016-03-25 05:20] timsly commented on #67
@zenati look to issue #13. I think `I18n.backend.reload!` should help.
So closing this one for now

[2016-03-25 05:20] #67 closed

[2016-03-25 05:30] #9 closed

[2016-03-25 05:33] timsly commented on #34
I fixed test suit in the latest release. So feel free to do PR, but please make sure tests are passing.
Do not forget to run `bundle install`  before.

[2016-03-25 05:33] #34 closed

[2016-03-25 05:43] timsly commented on #51
Just added test case to reproduce this issue. (see de26f7b34958860c4dba48bdefb9fa64a831d3a6)
Tests were green.
Closing it for now

[2016-03-25 05:43] #51 closed

[2016-03-25 19:49] rsmithlal commented on #69
Thanks for the info! You should mention this change in the readme in case more people have specified the rails-4-release branch in their gemfiles. Keep up the great work on this project! It's an invaluable gem for rails apps!

[2016-05-03 08:00] #60 closed

[2016-05-03 08:01] timsly commented on #60
@volontarian please follow @rsmithlal's suggestion

[2016-05-15 23:30] rvfx commented on #59
Thank you, this information helped me alot!

[2016-05-31 18:55] muescha opened #72 "add nice blog post to readme?"
i found this helpful blog post

shoud a link added to readme?

http://collectiveidea.com/blog/archives/2016/05/31/beyond-yml-files-dynamic-translations/

[2016-06-01 07:26] timsly commented on #72
Thanks @muescha
Just added this link to example section in the README file

[2016-06-01 07:26] #72 closed

[2016-06-11 16:07] misterspelik opened #73 "Translations queries from database"
While work with the gem I noticed that every translation key for current locale is taken from the database which generates about 100 DB queries in my case.

The suggestion is what about of getting all translations of current locale and then just take it from stored array or object? In this case it is only one query not 100.

If I`m missing something and such feature already present in such cool ge

[2016-06-13 08:02] timsly commented on #73
@misterspelik such feature is not present. But with default rails settings translations will be cached in production mode(so you will have 100 queries only once)

[2016-08-17 09:03] sajoku commented on #59
@rvfx Awesome 😄

I haven't tested this with anything other  than MySQL though, so be careful just implementing this with anything other than that.

[2016-08-17 09:09] timsly commented on #59
Hey @sajoku
Why don't you submit a PR with your fix.
I think `IS NOT NULL` is ok for all major sql adapters that we support

[2016-08-22 16:42] augustosamame opened #74 "User defined methods for I18n::Backend::ActiveRecord::Translation"
Hi. I am trying to select the locale using a dropbox in a view.

This works fine:

[code]

However, when trying to use a user-defined method for a friendlier locale name:

[code]

I get the following error:

`ActionView::Template::Error (undefined method 'friendly_locale_name' for #<I18n::Backend::ActiveRecord::Translation id: nil, locale: "es">):`

I am defining friendly_locale_name in my Transla

[2016-08-22 16:51] timsly commented on #74
Hi @augustosamame
In class that you pasted `Translation` inherits from `ActiveRecord::Base`.
And it's working only because by default AR map this model to `translations` table.
You can try
[code]
and then in view
[code]

[2016-08-22 16:59] augustosamame commented on #74
That worked flawlessly. Thank you!

[2016-08-22 17:00] #74 closed

[2016-08-24 11:12] timsly opened #75 "Disabling logger in Translation nullify it everythwhere"

[2016-08-31 15:27] ckho opened #76 "Feature Request: Mongoid Support"

[2016-08-31 15:29] timsly commented on #76
Hey @ckho. Thanks for your feature request.
But if we add Mongoid support, we need to change gem name then :-)

[2016-11-09 06:57] stavskiys opened #77 "Q: for what interpolations field?"
Hi guys. Somebody can explain for what interpolations field in translations table?

[2016-11-09 11:57] timsly commented on #77
Hi @stavskiys
Just added clarifications to README

[2016-11-09 11:57] #77 closed

[2016-11-09 11:58] timsly commented on #77
Here is the link - https://github.com/svenfuchs/i18n-active_record#missing-translations--interpolations

[2016-11-10 09:38] stavskiys commented on #77
Thank you!

[2016-11-18 17:49] xinspire commented on #13
So I'm running two app instances on AWS under a load balancer, and even though I call `I18n.backend.reload!` after `create`, `update`, and `destroy`, I think it only applies to the instance that's handling that request.  When I refresh the page in the browser, occasionally, I still get the old translation.  Any ideas on how to workaround this?

[2017-01-08 13:02] ChrisHampel commented on #13
What about adding a controller function which will compare the current max(:updated_at) of the translation table to a stored value on that server to check if the translation has been updated since this server last updated it's translation. Then you could just do:
before_action :update_i18n  ,  :if =>: i18n_changed

[2017-01-09 18:40] xinspire commented on #13
@ChrisHampel - Doesn't that negate the advantages of caching if you have to hit the DB to check the translation updated_at for every request?

[2017-01-18 07:54] xinspire commented on #13
Okay, I ended up implementing the "check" using Redis instead of doing a SQL query.  Both instances will now reload via `I18n.backend.reload!` on the first request after a translation is updated.

However, as I was testing, I noticed that the old data occasionally still showed.  When I took out `I18n::Backend::ActiveRecord.send(:include, I18n::Backend::Memoize)` from the initializer, the "old tran

[2017-01-18 08:08] xinspire commented on #13
UPDATE: Seems like this worked:
`I18n::Backend::ActiveRecord.send(:include, I18n::Backend::Cache)`
`I18n.cache_store = ActiveSupport::Cache.lookup_store(:memory_store)`

[2017-02-20 15:15] mauro-oto opened #78 "Conflict with Rails 5 initializers order"
Hi,

I have a newly created Rails 5.0.1 app which I added this gem to, and everything worked as expected.

However, a test began failing. The test was a unit test that checked whether a model's `belongs_to` association was working properly, and we are using the new Rails 5 ["implicit" `belongs_to` validation](http://blog.bigbinary.com/2016/02/15/rails-5-makes-belong-to-association-required-by-defa

[2017-02-20 15:59] timsly commented on #78
Hi @mauro-oto
I am not sure this can be somehow fixed in this gem.
There is no generators here, so you can control naming on your side.
You can rename i18n-active_record initializer to `translation.rb`, this way rails will evaluate it after `new_framework_defaults.rb`

[2017-02-20 17:35] mauro-oto commented on #78
@timsly cool, I did work around it that way in my app. But still, I think we could change the recommended initializer name in this gem's `README` from `locale.rb` to something like `translation.rb`, as you mentioned. What do you think?

[2017-02-21 06:58] timsly commented on #78
@mauro-oto I think we can leave rails 5 notes in the README where we can mention that. So feel free to add PR with that.

[2017-03-17 16:21] fatbeard2 opened #79 "Fetch translations subtree"
Hi. I've stumbled upon such an issue. Lets say I have the following translation keys:
[code]
If I want to fetch a subtree of my translations stored in database using `notifications.types` key it will return me a hash like this:
[code]
But in order to correctly merge it with translations from other backends( I am using `I18n::Backend::Chain`) it should return hash like this

[code]
Will you accept

[2017-03-17 16:30] timsly commented on #79
Hi @fatbeard2
Feel free to open the PR. This way it will much easier to understand what you want to fix.
You can just share an idea and add specs later on

[2017-03-17 18:06] fatbeard2 commented on #79
I created a request https://github.com/svenfuchs/i18n-active_record/pull/80

Not sure why the build is failing, but specs are passing locally for mysql

[2017-03-21 09:42] #79 closed

[2017-05-17 11:21] lichtamberg commented on #73
Yeah, it's really painfully slow in my development environment... One single page is generating more than 200 queries?! And all of them are COUNT(*) which makes it even worse.. Will take a look at it....

[code]

[2017-05-19 09:06] nvanoorschot opened #82 "Value at a parent node crashes the app"
In my db I had the following two keys with a value:

[code]

This was my own fault and had nothing to do with this gem. But the result is that my Rails app crashed and that I got a `undefined method 'split' for nil:NilClass` error that took me too long to track down This was of course a case of GIGO but still it would be nice if this gem would not produce an obscure error message.

In my fork I im

[2017-05-24 17:17] timsly commented on #73
Guys, to have such kind of feature we need to rewrite a lot(I think almost all core functions).
So, feel free to draft a PR and we can work on it together

[2017-10-10 03:28] xinspire opened #84 "Bug in Activerecord/YAML chained backend?"
I have locales :en, :es, and :zh-TW.  For each locale, I have a default YAML translation file.  When I supply custom translations for all three locales, it works correctly.  When I override ONLY the :en translation using ActiveRecord, the translations for the same key in :es and :zh-TW change to the custom :en translation instead of falling back to the YAML files (es.yml or zh-TW.yml).

[2017-10-10 10:21] timsly commented on #84
Hm, interesting.
I am just not sure if this issue is related to `ActiveRecord` adapter or to `I18n::Backend::Chain` itself.
But I will take a look, but a bit later.
A PR is also welcome :-)

[2017-10-20 12:41] Sylvain-Kraisin commented on #67
@zenati i have the same problem and I18n.backend.reload! not working for me. Did you fix your issue ?

[2017-10-20 13:02] Sylvain-Kraisin opened #85 "New translations appears in front only after restarting the server (Rails 5.1.3 / Gem Rails_Admin)"
In my app, the BO is handle by Rails_Admin.

My translation model is displayed correctly and all the actions are working (create, edit, delete). I check in DB, and everything is updated.

The problem is, when i go see my page from the browser, even after a refresh, the old translation is still there. If i manually restart the server, the new one will be displayed.

I tried `I18n.backend.reload!`an

[2017-12-20 23:18] xinspire commented on #84
Turns out it might not be a bug.  The solution is to add the `{ fallback: false }` as an option to translate.

[2018-01-03 11:14] DC7806 opened #88 "locale.rb setting with advanced example issue?"
Hi,

I Followed the installation guide, doing the simple setting in the _locale.rb_ file, testing it with console and translations showed up properly on the frontend.

However, when I adopted the config example by Moritz, it was not working anymore and all the values fallback to the default ones in the YML files. Any idea why?

The Rails version is 5.1.4

[2018-01-03 16:34] timsly commented on #88
@DC7806 Please take a look at this one - https://github.com/svenfuchs/i18n-active_record/issues/84

[2018-01-03 16:35] timsly commented on #84
Closing it, since the solution has been found

[2018-01-03 16:35] #84 closed

[2018-01-04 11:03] DC7806 commented on #88
Hey @timsly,
Thanks for the reference. I have tried the following but still no luck.
view:
t('posts.index.posts', {fallback: false})
application.rb:

[2018-01-17 20:03] lauraannwilliams commented on #73
I'm wondering if this could be done by adding a new backend that pulls from a cache before it goes to the database?

So the chain would be   development cache -> database table -> (optionally) yml

[2018-01-20 23:34] fmh commented on #85
same issue !

[2018-01-20 23:35] fmh commented on #13
same issue !

[2018-01-28 13:54] fmh commented on #85
After some test, it seems that it is a problem related to the logic of rails_admin and not an i18n-active_record issue, It will be necessary to reload the rails_admin files (config and models if rails_admin config in models) after each addition or update of translation
Add this code in your translation model and voila, I hope this will help you :
[code]

[2018-01-29 10:54] timsly commented on #85
Good catch @fmh
I am closing this one in the meantime. Feel free to reopen it if issue still exists

[2018-01-29 10:54] #85 closed

[2018-01-29 11:01] timsly commented on #13
There is a possible solution here plus related fix in #85
So I am closing this one, but feel free to reopen it if issue is still there

[2018-01-29 11:01] #13 closed

[2018-02-06 13:10] nitsujri opened #89 "Using I18nAR in isolation"
Hi guys, thanks for this amazing gem!

I was hoping to use this in an isolated portion of my site.

[code]
The hope was with the above code I could do something like `I18nAR.t("meow")` in my views then it would explicitly use the database to pull the translation.

Problem is I was trying to duplicate the `I18n` singleton, but when I set the backend of the cloned, `I18nAR` it affects I18n and chang

[2018-02-06 14:38] timsly commented on #89
It is because `I18n` uses `Thread.current` to store config(`.backend`, etc) - https://github.com/svenfuchs/i18n/blob/master/lib/i18n.rb#L26
So most like you need to change that, for example, with the following code
[code]
There might be some other places that need to be fixed in the same manner, because `I18n` wasn't designed with such feature in mind

[2018-02-06 14:38] #89 closed

[2018-02-07 02:09] nitsujri commented on #89
@timsly thanks so much. This is enough to get me in the right direction.

[2018-03-06 07:33] #78 closed

[2018-03-19 18:38] eduardorph opened #92 "Error /app/app/models/translation.rb:1:in `<top (required)>': superclass mismatch for class Translation (TypeError)"
I followed this [article](http://collectiveidea.com/blog/archives/2016/05/31/beyond-yml-files-dynamic-translations/) to implement translations through a admin page

This works great in my localhost, but when i push to heroku this message appears:

"/app/app/models/translation.rb:1:in `': superclass mismatch for class Translation (TypeError)"

My MODEL TRanslation:

class Translation < ApplicationR

[2018-03-20 07:27] timsly commented on #92
Why do you need your own `Translation` model?
There is `Translation` model defined in this gem - https://github.com/svenfuchs/i18n-active_record/blob/master/lib/i18n/backend/active_record/translation.rb
So you can use `I18n::Backend::ActiveRecord::Translation` to manage translations

[2018-11-08 17:13] Mehonoshin commented on #92
@eduardorph you should either to remove `Translation = I18n::Backend::ActiveRecord::Translation` from initializers, or get rid of `Translation` model.

[2018-11-28 11:43] sajoku commented on #59
A bit late but I'll close this issue as I believe this is a non-issue for other people.

[2018-11-28 11:43] #59 closed

[2019-04-15 02:21] bekicot opened #93 "Feature request: Generator for migration and initializer"
I think a generator for migration and initializer will be very helpful to get the gem work very quick.

[2019-06-03 13:33] gmonein commented on #13
If you use unicorn you need to reload i18n in all instance,
So you need to create a FileUpdateChecker for you app instance, and check on every request if files have changed

[code]

[2019-06-04 15:29] timsly commented on #93
I like the idea, I will try to implement once I have some free ttime

[2019-09-27 14:32] timsly commented on #93
Implemented in https://github.com/svenfuchs/i18n-active_record/pull/94

[2019-09-27 14:32] #93 closed

[2019-09-27 14:46] timsly commented on #93
Released as 0.3.0

[2019-09-27 14:47] timsly commented on #92
It looks like the issue has been resolved

[2019-09-27 14:47] #92 closed

[2019-10-30 10:12] Manidavid opened #96 "i18n search yaml file first, then if not found refer to database"
Using this gem i noticed that i18n search makes the app look in the database for a translation key first, then fall back to config/locales/*.yml files.

I have most of the translation values defined in yml file and few custom values are stored in database translation table, i have query result of 1000+ records contains multiple column values of various joined tables. so when using this gem to tran

[2019-10-30 11:01] timsly commented on #96
@Manidavid Could you please share your `I18n::Backend::Chain` setup?
It seems that the `ActiveRecord` backend goes first in the chain that's why it looks in the DB first

[2019-10-30 11:10] Manidavid commented on #96
Please find the the below `I18n::Backend::Chain` setup
[code]
from config/initializers/locale.rb

[2019-10-30 11:14] timsly commented on #96
The `ActiveRecord` backend goes first in the `Chain`, so it will be the first lookup storage.

Check the setup from the `README`
[code]

[2019-10-30 11:14] #96 closed

[2019-12-18 10:05] nicovak opened #98 "Add missing translations for all `config.i18n.available_locales`"
Hi,

I'm just wondering if there is any way to create missing translations for all `config.i18n.available_locales`, instead of only the requested one ?

[2019-12-18 12:46] timsly commented on #98
Hi,

I think it is possible I am just not sure it is a task for this gem.
Looks like it needs to be implemented in `i18n` gem

[2020-02-04 14:36] PWKad opened #100 "The generated class for the migration is missing an s on CreateTranslations"
Will try to PR now.

[2020-02-13 10:55] #100 closed

[2020-03-23 16:47] lancecarlson opened #103 "Feature: :where option for t method that scopes translation"
It would be very cool if you could add another column to the translations table like `account_id` or something and be able to scope translations down with something like I18n.t('welcome_message', where: {account_id: account_id}). It would broaden the use cases for this gem quite a bit as I have to implement this custom feature myself right now for our uses cases.

If you think it would be a good i

[2020-04-07 16:05] timsly commented on #103
Thanks for your suggestion @lancecarlson
This feature looks like very specific to your project
I understand that you want to make sure only some specific keys are involved in the lookup but this can be achieved by extending `I18n::Backend::ActiveRecord::Translation` and adding your logic on top

[2020-04-13 15:23] lancecarlson commented on #103
@timsly certainly "account_id" is very specific to my project, but the interface I'm describing can be used pretty generically. Having the notion of a where clause could apply to all kinds of use cases.

[2020-05-04 12:11] timsly commented on #103
I agree with you, having this addition would be great but I am not sure `i18n-active_record` is the right place to add it.
`i18n-active_record` basically an `i18n` backend(storage) so what it does is just implements the interface defined in `i18n`.
From my point of view adding new features from a backend doesn't look correct so I can see this more as an `i18n` plugin rather than `i18n-active_recor

[2020-05-16 05:54] D4v1dW3bb opened #104 "config/initializers/i18n_active_record.rb not working"
config/initializers/i18n_active_record.rb is configured like in the readme (auto generated)

translations from database are not loaded.

When placing:

require 'i18n/backend/active_record'
and
config.i18n.backend = I18n::Backend::Chain.new(I18n::Backend::ActiveRecord.new, I18n::Backend::Simple.new)

in config/application.rb translations from the db are loaded.

[2020-05-16 15:55] dgeheniau commented on #104
Ok found the problem

You want to lookup first in db and then in files.
In the part of the code:

`if Translation.table_exists?
  I18n.backend = I18n::Backend::ActiveRecord.new

  I18n::Backend::ActiveRecord.send(:include, I18n::Backend::Memoize)
  I18n::Backend::Simple.send(:include, I18n::Backend::Memoize)
  I18n::Backend::Simple.send(:include, I18n::Backend::Pluralization)

  I18n.backend = I18

[2020-05-18 09:17] timsly commented on #104
Sure, the AR backend can go first if this is required.

[2020-05-18 09:17] #104 closed

[2020-05-18 20:48] D4v1dW3bb opened #105 "path for form helper"
When making a form i got an error:

`ActionView::Template::Error (undefined method 'i18n_backend_active_record_translation_path' for #<#<Class:0x00007f04a9399298>:0x00007f04917462c8>):`
when adding `url: translations_path` to the form it worked again.
I think this originates from the initializer line:
`Translation = I18n::Backend::ActiveRecord::Translation`
There for `Translation.name` and `Transl

[2020-05-19 08:17] timsly commented on #105
In general, that fact that the `i18n_backend_active_record_translation_path` is not defined but the `translations_path` is has nothing to do with the initializer.
`translations_path` works only because you have an entry in `routes.rb` that defines a route named `translations`, so if you add something like
[code]
most likely it will work without `url: translations_path`

You can also try
[code]
Add

[2020-05-19 08:17] #105 closed

[2020-05-19 15:12] D4v1dW3bb commented on #105
I changed

`Translation = I18n::Backend::ActiveRecord::Translation`

In the initializer to:

[code]

An now it works as expected.

I think it’s wise to change this in the default `I18n_active_record.erb`

Regards,

Didier

From: Tim Masliuchenko <notifications@github.com>
Sent: Tuesday, May 19, 2020 2:18 AM
To: svenfuchs/i18n-active_record <i18n-active_record@noreply.github.com>
Cc: D4v1dW3bb <did

[2020-05-19 15:29] timsly commented on #105
It is not recomennded to keep `class Translation < I18n::Backend::ActiveRecord::Translation` in the initializer, it should be in `app/models/translation.rb`
Basically this way we define our own AR model but inherit from the model from the gem.
I shared that just to illustrate that the issue wasn't really related to the initializer.

It is expected that `I18n::Backend::ActiveRecord::Translation` re

[2020-05-19 16:30] D4v1dW3bb commented on #105
The gem does not provide it but it's expected the users of the gem are going to use it. Their not going to fill the translation table by hand.  so they will need to make controllers, views and routes. Therefor the translation table should act like every other model whether it's installed by a gem or the programmer implements it himself.

[2020-05-20 09:09] timsly commented on #105
You can use `i18n_backend_active_record_translation` name in your routes because this is what the model generates.

But I am going to revisit `Translation = I18n::Backend::ActiveRecord::Translation` part in the initializer and probably include `class Translation < I18n::Backend::ActiveRecord::Translation` model instead.

[2020-05-21 19:07] JeremiahChurch opened #106 "undefined method `map' for "translation missing: en-US.i18n.plural.keys":String"
fairly standard rails 6 app.

stock standard i18n_active_record.rb initializer with the only addition being `Missing`

[code]

I get the exception on [line 45 of active_record/missing.rb](https://github.com/svenfuchs/i18n-active_record/blob/master/lib/i18n/backend/active_record/missing.rb#L45)
[code]
`count` is 1

a one line change to the failing line of `count && count > 1` fixes my issue. I'm ha

[2020-05-22 08:54] timsly commented on #106
@JeremiahChurch in order to use this extension you need to add something like the above
[code]
this way `t` calls with `count` parameter will be correctly persisted.

[2020-05-22 15:50] JeremiahChurch commented on #106
@timsly Thank you so much for setting me straight!

I received psych errors trying to use the array of keys the example way but reformatting it to the other format has everything working.

[code]

Might I suggest a small doc tweak to that file to make it clear that `keys` is required for the `Missing` module to work correctly?

[2020-05-22 16:17] timsly commented on #106
Sure, feel free to open a PR with the tweak.

[2021-03-31 15:16] dvkch opened #110 "lookup method not reusing @translations"
Hi,

First of all, thanks for this great work, it's a very nice gem seems to cover a lot of cases nicely.

I am currently looking at performance issues and was wondering why the protected `lookup` method is not reusing `@translations` ? I imagine there is a balance between hitting the DB or parsing a huge in-memory hash, but that could reduce the DB workload in cases where tens or hundreds of tran

[2021-04-27 14:25] timfjord commented on #110
Hi @dvkch,

I think the problem here is that the protected `lookup` calls `Translation.lookup` under the hood (https://github.com/svenfuchs/i18n-active_record/blob/master/lib/i18n/backend/active_record/translation.rb#L62-L73)
So if we want to add any performance optimization we would need to somehow emulate the `Translation.lookup` method behaviour

If you have an idea how to do that, feel free to

[2021-04-27 15:24] dvkch commented on #110
I’ll draw up a pour when I’ll be at a computer.
In the mean time here was my thinking.

I reimplemented the same behavior as this library, but replacing the locale and value field by a jsonb value field, storing a hash of locale to value.

I did not have to implement the Translation.lookup method and instead the backend lookup basically turned into `@translations.dig(*keys)`. I added a callback af

[2021-04-29 10:44] timfjord commented on #110
Correct me if I am wrong, so you are basically keeping one translation row per locale and all translations for the given locale are stored in the jsonb field?

[2021-04-29 11:23] dvkch commented on #110
The opposite. I have a row per key and the value jsonb field contains values for each locale. This allowed me to add a unique index to the key column and easily create an ActiveAdmin page for my Translation model, allowing me to show/edit all localizations for a key at once. This is why I cannot easily send you a PR since the internals are a bit different. But here is the backend class, it is stil

[2021-05-19 16:37] timfjord commented on #110
Hm, I see what you mean. I haven't thought about all edge case but it might a good addition that can be used to solve performance-related issues.
There is a way to configure the `ActiveRecord` backend via the `configure` call(e.g. `I18n::Backend::ActiveRecord.configure do |config|`), we could add an extra configuration option and change the `#lookup` method to support both `Translation` and  `@tra

[2021-05-20 10:42] dvkch commented on #110
Absolutely. There may be edge cases, I haven't been able to fall into some for now, and your test suite works with my fork, adapted for the parts that have been changed on my end of course.

[2021-05-20 14:05] timfjord commented on #110
Great, hiding the feature behind a configuration option will allow us to minimize regressions.
So you are more than welcome to bring the feature from your fork to this repo!

[2021-05-20 14:13] dvkch commented on #110
I'll get to it as soon as I have the time :) i'm not very well versed in gem editing and packaging, plus my use case is a bit different so I'd rather not break too much things 😬

[2021-05-20 15:20] timfjord commented on #110
Sure! If you need any help just let me know

[2021-07-28 18:00] asadakbarml commented on #110
I've been keeping up with this as I noticed our application doing lots of queries to the db for translations. So I understand it correctly, are translations looked up in the db every time a call to I18n.t occurs, or is there currently some caching that occurs so that the db request only happens once per I18n.t('something')? If there is a cache, when would that cache be busted so that a new transla

[2021-07-29 08:38] timfjord commented on #110
Yes, that's correct, we hit DB every time the `i18n.t` is called
There is no caching except [the rails SQL caching](https://guides.rubyonrails.org/caching_with_rails.html#sql-caching)

There is [a PR](https://github.com/svenfuchs/i18n-active_record/pull/111) that adds `cache_translations` config option. With this option set to `true` the `translations` table will be cached on the first `I18n.t` ca

[2021-08-09 10:27] AnneSophieDubost opened #114 "Error encountered when creating a DB"
When creating a DB, the following error is encountered:
[code]

It's due to `if Translation.table_exists?` line in
https://github.com/svenfuchs/i18n-active_record/blob/1f88d1ab59eaab670d3dbcdb015e1a371877363d/lib/generators/i18n/active_record/templates/advanced_initializer.rb.erb#L5

I will correct the bug if you give your approval :)
Thank you!

[2021-08-16 13:40] jadencarver opened #115 "Generator with class name in a module produces invalid migration"
To reproduce:

    rails g i18n:active_record:install Admin::Translation

Produces a table name `:admin/translation`

[2021-08-24 08:39] #115 closed

[2021-08-24 08:44] timfjord commented on #115
Fixed in 0.4.1

[2021-09-01 17:16] rod-stuchi opened #117 "Falling docker build"
Hi, maybe a silly question.

I need to build a docker image, but without need to supply a database connection.

when I exec this step
[code]

I get this error:

![image](https://user-images.githubusercontent.com/19471811/131714590-139b5cee-bc9b-4016-9801-a81e9fc87eef.png)

[code]

[2021-09-02 09:45] timfjord commented on #117
It looks like you need to update the `i18n_active_record.rb` initializer as it triggers the `table_exists?`call which causes a database connection
You could, for example, add an ENV variable to avoid `table_exists?` check
[code]
and slightly change the initializer
[code]

[2021-09-02 09:45] #117 closed

[2021-09-02 16:23] rod-stuchi commented on #117
Hi @timfjord , thank you for the help.
Your solution solved the problem.

I owe you a :beer:

[2021-10-15 16:44] westonganger opened #118 "Add a changelog"
It would be helpful to add a `CHANGELOG.md` file to see what is changed or fixed with each new version

[2021-10-15 18:02] westonganger opened #121 "Documentation or Removal of proc handling mechanism"
In the migration I see `t.boolean :is_proc, default: false`

According to https://github.com/svenfuchs/i18n-active_record/issues/68 this feature doesnt work since Rails 3.2 likely.

I suspect this feature should be removed otherwise it should be documented in the readme so as to understand the usage.

[2021-10-19 09:54] #118 closed, assigned to nobody

[2021-10-19 12:55] #121 closed, assigned to nobody

[2021-10-21 00:19] westonganger opened #123 "Add additional config options `fallback_to_default_locale` and `raise_exception_on_missing`"
It would be cool to add some additional config options, `fallback_to_default_locale` and `raise_exception_on_missing`

Example:

[code]

[2021-10-21 09:07] timfjord commented on #123
@westonganger have you seen https://github.com/ruby-i18n/i18n/blob/master/lib/i18n/backend/fallbacks.rb?
It is designed to handle fallbacks in the `i18n` gem

As for the `raise_exception_on_missing`, cannot it be achieved with the `I18n.exception_handler`(https://github.com/ruby-i18n/i18n/blob/0888807ab2fe4f4c8a4b780f5654a8175df61feb/test/i18n_test.rb#L143-L150)?

[2021-10-22 08:59] #123 closed, assigned to nobody

[2021-11-13 04:21] mauro-oto opened #126 "cache_translations = true not respected if translations table is empty"
If the `translations` table is empty, every time you call `I18n.t("foo")` it still runs `SELECT "translations".* FROM "translations"` regardless of the `cache_translations = true` setting.

[code]

Having at least one record in the `translations` table avoids this problem. Likely because of the `empty?` check in:
https://github.com/svenfuchs/i18n-active_record/blob/426f757659dfd962f606ad1cf0c1bd69

[2021-11-15 12:25] timfjord commented on #126
Good spot @mauro-oto
Let me try to fix it and will come bac kto you

[2021-11-15 13:43] #126 closed

[2021-11-15 13:45] timfjord commented on #126
It is fixed now https://github.com/svenfuchs/i18n-active_record/releases/tag/v1.0.1

[2021-11-26 05:28] abime opened #128 "Memoization stopped working on upgrading to 1.0.0"
We found that Memoization stopped working on upgrading to 1.0.0.

We believe that the issue got introduced in this #124, where Implementation module got removed and it affected the ancestor chain.

Initially lookup method from Memoize module used to take the precedence but after removal of Implementation module `lookup` method of `I18n::Backend::ActiveRecord` is called.

### Ancestor Chain in 0.4.

[2021-11-26 17:24] timfjord commented on #128
Thanks for reporting the issue.

I'd go with the first solution and update the README.
Feel free to open a PR otherwise I will do this next week

[2021-11-29 07:09] abime commented on #128
Hey @timfjord

We have raised a PR for the first solution here #129

On skimming through code from other i18n backends([simple](https://github.com/ruby-i18n/i18n/blob/3ae91d3ff60aa345a39792feea3c66ef3d8de179/lib/i18n/backend/simple.rb#L22), [key-value](https://github.com/ruby-i18n/i18n/blob/3ae91d3ff60aa345a39792feea3c66ef3d8de179/lib/i18n/backend/key_value.rb#L70)), we noticed that the they all h

[2021-11-29 09:23] timfjord commented on #128
Hey @abime

Thanks for sending the PR

Yeah, I've been thinking about this and I think are right, it is better to stick to the convention and bring the `Implementation` module back.
Sorry for the back and forth.
Please let me know if you wish you update #129 accordingly, otherwise, I will take care of that

[2021-11-29 11:06] abime commented on #128
@timfjord No problem. I will update #129 in sometime and send it for review.

[2021-11-29 14:30] prayeshshah commented on #128
@timfjord We've made the necessary changes and rebased the branch with master. Please re-review.

[2021-11-30 09:01] timfjord commented on #128
Awesome, thanks @prayeshshah
Let's switch to the PR to discuss the implementation.

[2021-12-01 18:16] timfjord commented on #128
Just released [v1.1.0](https://github.com/svenfuchs/i18n-active_record/releases/tag/v1.1.0)

Thanks for the contribution @prayeshshah and @abime

[2021-12-01 18:16] #128 closed

[2021-12-30 13:36] reinaris commented on #73
You could also create a task, that writes your translations from the database to normal yml files (once in a while). If you use the `i18n-tasks` gem, you can do something like:

[code]

Before i18n-active_record hits the db, it first tries the normal translations files (yml's).
In my case the translations don't change so often, only new translations are added through an interface. If I write those

[2021-12-31 12:05] timfjord commented on #73
Forgot to update this thread.
There is now the `cache_translations` option that can be used to get translations from the cache rather than from the DB directly
[code]

[2021-12-31 12:05] #73 closed

[2022-01-27 17:53] mpantel opened #130 "Breaks on latest i18n"
When upgrading to latest i18n (1.9.0) rails fails to start.
Rolling back to 1.8.11 fixes the issue.

Last line of console traceback is:

../local_gems/ruby/2.7.0/gems/activesupport-6.1.4.4/lib/active_support/dependencies.rb:332:in `require': cannot load such file -- i18n/core_ext/hash (LoadError)

[2022-01-28 11:30] mpantel commented on #130
i18n >= 1.9.1 fixes this, but patch is still relevant

[2022-01-31 09:10] timfjord commented on #130
Closing this issue as the bug has been already fixed in `i18n` and `i18n#1.9.0`has been yanked.

[2022-01-31 09:10] #130 closed

[2022-05-10 17:43] Alex-Quinn opened #132 "Configuring ActiveRecord backend as first in chain causes errors during initialization"
### Issue

I'd like to configure my application such that the ActiveRecord backend takes precedence over the Simple backend like this:

[code]

However, with the above configuration, the `rake db:*` tasks fail because Rails relies on translations during app initialization:

https://github.com/rails/rails/blob/27a5ec76eed1e5d0bc5649b0e92097267c0b4338/railties/lib/rails/application/finisher.rb#L36

[2022-05-12 16:10] Alex-Quinn commented on #132
Thanks for the quick response @timfjord!

I was able to implement your proposed solution and it works well. Initially I was thinking I needed to configure the AR backend in all app boot cases but, to your point, that's not necessary or feasible in all cases (e.g. `rake db:create`).

Thanks for your help! I'm going to close this issue.

[2022-07-14 01:12] sobakasu opened #137 "rails 7.0.3.1: Psych::DisallowedClass: Tried to load unspecified class: Symbol"
We get an error with rails 7.0.3.1. Downgrading to rails 7.0.3 fixes the error.

The error is:
Psych::DisallowedClass: Tried to load unspecified class: Symbol

[2022-09-24 17:37] wrycoder opened #138 "Update example article for Rails 5.1"
When I tried to go through the steps in the example...

http://collectiveidea.com/blog/archives/2016/05/31/beyond-yml-files-dynamic-translations/

...my test kept failing. It appeared as if the TranslationsController was being ignored. The locale was never set, but the application views still loaded. After lots of trial and error, I came across this post:

https://stackoverflow.com/questions/16519

[2022-09-26 12:37] timfjord commented on #138
I am afraid I don't have access to the article so I won't be able to correct it.
At the same time, I would like to keep the article in the README.

What I can do is note that the article is not suitable for Rails 5.1+

[2022-09-26 12:41] timfjord commented on #138
Here we go https://github.com/svenfuchs/i18n-active_record/commit/1fe4b9150c3eee9a8f9a5e8e2b90580280a7aec1

[2022-09-26 12:41] #138 closed

[2022-09-26 13:05] wrycoder commented on #138
Thanks!

[2022-10-05 17:31] nitxal opened #139 "Missing translations with default values as option"
Hi there, I am using [Missing Module](https://github.com/svenfuchs/i18n-active_record/blob/master/lib/i18n/backend/active_record/missing.rb), everything works well without default option, like this

[code]

however I need to save as well in translations table, missing translations although exists default values as option, for example in the following line records are not created

[code]

How do I

[2022-10-06 09:04] timfjord commented on #139
Unfortunately, [the current implementation of the `Missing` module](https://github.com/svenfuchs/i18n-active_record/blob/master/lib/i18n/backend/active_record/missing.rb#L41) doesn't allow saving default values.
So I am afraid there is no way to achieve this without changing the implementation.

The idea of the `Missing` module is to create blank records for missing translations so translators can

[2022-10-06 09:16] timfjord commented on #103
I am closing this one as I don't think it will be implemented.

[2022-10-06 09:16] #103 closed

[2022-10-06 09:30] #37 closed